@CHARSET "UTF-8";

#uid{text-align:left;
	font-size:20px;
	font-weight:bold;}
	
#uname{text-align:left;}
#unick{text-align:left;}
#utel{text-align:left;}
#utel{text-align:left;}
#uadd{text-align:left;}
#uemail{text-align:left;}	

