@CHARSET "UTF-8";

button{height:20px;
		border:none;
		background:white;
		text-align:center;
		cursor: pointer;}		
.search{width:20px;}

#btnplus{width:800px;
		text-align:right;
		margin-bottom:50px;}
		
.plus{width:50px;}

#searchType{width:100px; 
		height:30px; 
		text-align:center; 
	    font-size: 15px;
	    padding-left:17px; 
	    border:3px solid #8E35EF; 
		border-radius:5px; 
		background:white; 
		color:#8E35EF;}		 

#image{border-radius: 70%;
     overflow: hidden;
     width:150px;
     height:150px;}

#uid{text-align:left;
	font-size:20px;
	font-weight:bold;}
	
#uname{text-align:left;}
#unick{text-align:left;}
#utel{text-align:left;}
#utel{text-align:left;}
#uadd{text-align:left;}
#uemail{text-align:left;}	

