@CHARSET "UTF-8";

h2{font-weight: bold;
  color:#8E35EF;}
  
input[type=text]{font-size: 20px;
				padding:5px;
				background-color:transparent;
				border:0 solid black;
				text-align:left;
				border-bottom: 3px solid #ccc}
input[type=password]{font-size: 20px;
				padding:5px;
				background-color:transparent;
				border:0 solid black;
				text-align:left;
				border-bottom: 3px solid #ccc} 

#btnlog{width:70px;
		float:center;
		border:5px solid black; 
		border-radius:5px; 
		background:black; 
		color:#8E35EF;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}
#btnlog:hover{width:70px;
		float:center;
		border:5px solid #8E35EF; 
		border-radius:5px; 
		background:#8E35EF; 
		color:white;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}
		
		
#tbl a{text-decoration-line: none;
		color:#8E35EF;}						
								  