<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.QuestionReplyMapper">

	<select id="list" resultType="com.example.domain.QuestionReplyVO">
		 select * from question_reply
		 where question_bno = #{question_bno}
		 order by question_rno desc
		 limit #{cri.pageStart}, #{cri.perPageNum}
	 </select>
	 
	 <select id="read" resultType="com.example.domain.QuestionReplyVO">
	 	select * from question_reply where question_rno = #{question_rno}
	 </select>
	 
	 <insert id="insert">
	 	insert into question_reply(question_bno, question_reply, question_replyer) values(#{question_bno}, #{question_reply}, #{question_replyer})
	 </insert>
	 
	 <delete id="delete">
	 	delete from question_reply where question_rno=#{question_rno}
	 </delete>
	 
	 <update id="update">
	 	update question_reply set question_reply=#{question_reply}, question_replyupdate_date=now() where question_rno=#{question_rno}
	 </update>
	 
</mapper>