<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RecipeMapper">

	<select id="list" resultType="com.example.domain.RecipeVO">
		select * from tbl_recipe
		<if test="searchType == 'recipe_title'">
			where recipe_title like concat('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'recipe_ingre'">
			where recipe_ingre like concat('%', #{keyword}, '%')
		</if>		
		<if test="searchType == 'recipe_writer'">
			where recipe_writer like concat('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'recipe_category'">
			where recipe_category like concat('%', #{keyword}, '%')
		</if>		
		order by recipe_bno desc
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="totalCount" resultType="int">
		select count(*) from tbl_recipe
		<if test="searchType == 'recipe_title'">
			where recipe_title like concat('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'recipe_ingre'">
			where recipe_ingre like concat('%', #{keyword}, '%')
		</if>		
		<if test="searchType == 'recipe_writer'">
			where recipe_writer like concat('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'recipe_category'">
			where recipe_category like concat('%', #{keyword}, '%')
		</if>
	</select>
	
	<select id="read" resultType="com.example.domain.RecipeVO">
		select * from tbl_recipe
		where recipe_bno=#{recipe_bno}
	</select>
	
	<insert id="insert">
		insert into tbl_recipe(recipe_title, recipe_category, recipe_ingre, recipe_seasoning, recipe_content, recipe_writer, recipe_image)
		values(#{recipe_title}, #{recipe_category}, #{recipe_ingre}, #{recipe_seasoning}, #{recipe_content}, #{recipe_writer}, #{recipe_image})
	</insert>
	
	<insert id="addAttach">
		insert into recipe_attach(recipe_bno, recipe_attach_no, recipe_attach_image, recipe_attach_text)
		values(#{recipe_bno}, #{recipe_attach_no}, #{recipe_attach_image}, #{recipe_attach_text})
	</insert>
	
	<update id="update">
		update tbl_recipe set recipe_title=#{recipe_title}, recipe_category=#{recipe_category}, recipe_ingre=#{recipe_ingre}, recipe_seasoning=#{recipe_seasoning}, recipe_content=#{recipe_content}, recipe_image=#{recipe_image}
		where recipe_bno=#{recipe_bno}
	</update>
	
	<delete id="delete">
		delete from tbl_recipe where recipe_bno=#{recipe_bno}
	</delete>
	
	<delete id="delAttach">
		delete from recipe_attach where recipe_bno=#{recipe_bno}
	</delete>
	
	<delete id="delAttach2">
		delete from recipe_attach where recipe_bno=#{recipe_bno} and recipe_attach_no=#{recipe_attach_no}
	</delete>
	
	<select id="getAttach" resultType="com.example.domain.Recipe_attachVO">
		select * from recipe_attach
		where recipe_bno=#{recipe_bno}
		order by recipe_attach_no
	</select>
	
	<update id="updateViewcnt">
	 	update tbl_recipe set recipe_viewcnt=recipe_viewcnt + 1 where recipe_bno=#{recipe_bno}
	</update>
	
	<select id="lastBno" resultType="int">
		select max(recipe_bno) from tbl_recipe
	</select>
	
	<select id="lastAttachNo" resultType="int">
		select max(recipe_attach_no) from recipe_attach where recipe_bno=#{recipe_bno}
	</select>
	
	<update id="updateUserRating">
	 	update tbl_recipe set recipe_userRatingAvg=(select avg(recipe_userRating) from recipe_reply where recipe_bno = #{recipe_bno})
	 	where recipe_bno = #{recipe_bno};
	</update>
	
	<select id="keepRead" resultType="com.example.domain.User_keepVO">
 		select * from tbl_user_keep
 		where recipe_bno=#{recipe_bno} and user_id=#{user_id}
 	</select>
 	
 	<insert id="keepInsert">
 		insert into tbl_user_keep(user_id, recipe_bno, recipe_keep)
 		values(#{user_id}, #{recipe_bno}, #{recipe_keep})
 	</insert>
 	 	
 	<update id="keepUpdate">
 		update tbl_user_keep set 
 		recipe_keep=#{recipe_keep}
 		where recipe_bno=#{recipe_bno} and user_id=#{user_id}
 	</update>
 	
 	<select id="klist" resultType="com.example.domain.RecipeVO">
		select * from recipe_keep
		where user_id = #{user_id} and recipe_keep=1	
		order by recipe_bno desc
		limit #{pageStart}, #{perPageNum}		
	</select>
	
	<select id="nextNum" resultType="String">
 		select MIN(recipe_bno) from tbl_recipe where recipe_bno <![CDATA[>]]> #{recipe_bno}
 	</select>
 	
 	<select id="preNum" resultType="String">
 		select MAX(recipe_bno) from tbl_recipe where recipe_bno <![CDATA[<]]> #{recipe_bno}
 	</select>
 	
 	<select id="maxNum" resultType="String">
 		select MAX(recipe_bno) from tbl_recipe
 	</select>
 	
 	<select id="minNum" resultType="String">
 		select MIN(recipe_bno) from tbl_recipe
 	</select>	
	
</mapper>