@CHARSET "UTF-8";

#question_bno{display:none;}

#id{width:150px;
	text-align:left; 
	font-size:20px;
	font-weight:bold;}

#option{width:100px; 
		height:30px; 
		text-align:center; 
	    padding-left: 25px;
	    font-size: 15px; 
	    border:5px solid #8E35EF; 
		border-radius:5px; 
		background:#8E35EF; 
		color:white;}

#title{width:700px;
	   text-align:left;
       border-bottom: 1px solid #ccc;}
       
#price{
	   font-size: 20px;
       text-align:left;
       border-bottom: 1px solid #ccc;}             
       
#img{border-bottom: 1px solid #ccc;
	padding-bottom:5px;
	text-align:left;}
	
#content{width:800px;
		 font-size: 15px;
         border-bottom: 1px solid #ccc;}

#subimg{cursor: pointer;
		border:none;
		background:white;
		border-bottom: 1px solid #ccc;} 
		        
button{cursor: pointer;
		border:none;
		background:white;}         		
			

#btnUpdate{width:100px;
		border:5px solid black; 
		border-radius:5px; 
		background:black; 
		color:#8E35EF;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}
#btnUpdate:hover{width:100px;
		border:5px solid #8E35EF; 
		border-radius:5px; 
		background:#8E35EF; 
		color:white;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}		
		
#btnReset{width:100px;
		border:5px solid black; 
		border-radius:5px; 
		background:black; 
		color:#8E35EF;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}
#btnReset:hover{width:100px;
		border:5px solid red; 
		border-radius:5px; 
		background:red; 
		color:white;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}
		
#btnList{width:100px;
		border:5px solid black; 
		border-radius:5px; 
		background:black; 
		color:#8E35EF;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}												
#btnList:hover{width:100px;
		border:5px solid #8E35EF; 
		border-radius:5px; 
		background:#8E35EF; 
		color:white;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}