@CHARSET "UTF-8";

.title{font-weight:bold;}

button{height:30px;
		border:none;
		background:white;
		text-align:center;}		
.search{width:20px;} 

#tbl {border-collapse: separate;
  		border-spacing: 1px;
  		text-align: center;
  		line-height: 1.5;
  		border-top: 1px solid #ccc;
  		overflow: hidden;
  		text-overflow: ellipsis;
  		margin : 20px 10px;} 		
 		 
#tbl td{
		text-align:center;
		padding: 10px;
  		vertical-align: middle;
  		border-bottom: 1px solid #ccc;
  		overflow: hidden;
  		text-overflow: ellipsis;
  		font-size:15px;
  		margin: 0px auto;
  		cursor: pointer;}
  		
#btninsert{width:800px;
		float:center;
		border:5px solid black; 
		border-radius:5px; 
		background:black; 
		color:#8E35EF;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}
#btninsert:hover{width:800px;
		float:center;
		border:5px solid #8E35EF; 
		border-radius:5px; 
		background:#8E35EF; 
		color:white;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}
		
				