 *{margin:0;padding:0;}
  ul,li{list-style:none;}
  #slide{width:400px;height:300px;position:relative;overflow:hidden;}
  #slide ul{width:400%;height:100%;transition:1s;}
  #slide ul:after{content:"";display:block;clear:both;}
  #slide li{float:left;width:25%;height:100%;}
  #slide li:nth-child(1){background:#faa;}
  #slide li:nth-child(2){background:#ffa;}
  #slide li:nth-child(3){background:#faF;}
  #slide li:nth-child(4){background:#aaf;}
  #slide input{display:none;}
  #slide label{display:inline-block;vertical-align:middle;width:10px;height:10px;border:2px solid #666;background:#fff;transition:0.3s;border-radius:50%;cursor:pointer;}
  #slide .pos{text-align:center;position:absolute;bottom:10px;left:0;width:100%;text-align:center;}
  #pos1:checked~ul{margin-left:0%;}
  #pos2:checked~ul{margin-left:-100%;}
  #pos3:checked~ul{margin-left:-200%;}
  #pos4:checked~ul{margin-left:-300%;}
  #pos1:checked~.pos>label:nth-child(1){background:#666;}
  #pos2:checked~.pos>label:nth-child(2){background:#666;}
  #pos3:checked~.pos>label:nth-child(3){background:#666;}
  #pos4:checked~.pos>label:nth-child(4){background:#666;}
  
#twriter{width:100px;
		font-weight:bold;
		font-size:20px;
		text-align:left;}
		
#tcate{width:50px;
	  font-weight:bold;
	  font-size:15px;
	  text-align:center;
	  color:#0080FF;}

#tdate{text-align:right;
	   color:#6E6E6E;}

#theart{height:50px;
		text-align:right;}
.heart{width:30px;
	  margin-right:10px;}
	  
#chat{height:50px;
		text-align:right;}		
.chat{width:30px;
	  margin-right:10px;}
	  
button{cursor: pointer;
		border:none;
		background:white;}	  	  
	  
#tvcnt{width:100px;
	text-align:right;}

#ttitle{text-align:left;
		font-weight:bold;
		font-size:15px;
		text-overflow: ellipsis;}
	
#tprice{text-align:left;
		font-weight:bold;
		font-size:25px;
		color:#8E35EF;
		padding-left:30px;}		
		
#tcont{text-align:left;
		font-size:15px;
		text-overflow: ellipsis;}
		
#btnUpdate{width:100px;
		border:5px solid black; 
		border-radius:5px; 
		background:black; 
		color:#8E35EF;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}
#btnUpdate:hover{width:100px;
		border:5px solid #8E35EF; 
		border-radius:5px; 
		background:#8E35EF; 
		color:white;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}

#btnReset{width:100px;
		border:5px solid black; 
		border-radius:5px; 
		background:black; 
		color:#8E35EF;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}
#btnReset:hover{width:100px;
		border:5px solid #8E35EF; 
		border-radius:5px; 
		background:#8E35EF; 
		color:white;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}		
		
#btnDelete{width:100px;
		border:5px solid black; 
		border-radius:5px; 
		background:black; 
		color:#8E35EF;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}
#btnDelete:hover{width:100px;
		border:5px solid red; 
		border-radius:5px; 
		background:red; 
		color:white;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}
		
#btnList{width:100px;
		border:5px solid black; 
		border-radius:5px; 
		background:black; 
		color:#8E35EF;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}												
#btnList:hover{width:100px;
		border:5px solid #8E35EF; 
		border-radius:5px; 
		background:#8E35EF; 
		color:white;
		padding:0px 3px 0px 3px;
		font-size:15px;
		font-weight:bold; 
		cursor: pointer;}	