@CHARSET "UTF-8";

#rtbl{border-collapse: collapse;
	}

#rtbl td{}		

#xbtn{width:30px;}
 
		
#b_rer{text-align:left;
		text-size:15px;
		font-weight:bold;
		width:100px;}
		
#b_rdate{text-align:left;
		text-size:8px;
		color:#A4A4A4;}
		
#bdel{text-align:right;}

#b_rely{text-align:left;
		padding-left:10px;}						
		
input[type=text]{font-size: 20px;
				padding:5px;
				background-color:transparent;
				border:0 solid black;
				text-align:left;}
		
	
.btnInsert{width:30px;}		     